*{
    font-family: 'Ibarra Real Nova', serif;
    line-height: 1.25;
    letter-spacing: .5px;
}
#navbar {
    position: sticky;
    top: 0px;
    background-color: white;
}

#topnavbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: ProximaNovaMedium,Arial,Sans-Serif;
    font-size: 13px;
}
#topnavbar>div:first-child{
    margin-left: 20px;
}#cart{
    width: 25px;
}
#usaFlag{
    width: 23px;
}

#rightNav {
    width: 25%;
    display: flex;
    justify-content: space-evenly;

}

#bottomnav {
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 10px 29px 0px;
}

#bottomnav>h3 {
    margin-right: 20px;
    font-size: 13px;
    font-weight: lighter;
}