
*{
    font-family: 'Ibarra Real Nova', serif;
    line-height: 1.25;
    letter-spacing: .5px;
}
#navbar {
    position: sticky;
    top: 0px;
    background-color: white;
}
#nav{
    width: 180px;
    display: flex;
    justify-content: space-around;
}
#topnavbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-family: ProximaNovaMedium,Arial,Sans-Serif;
    font-size: 13px;
}
#topnavbar>div:first-child{
    margin-left: 20px;
}#cart{
    width: 25px;
}
#usaFlag{
    width: 23px;
}

#rightNav {
    width: 25%;
    display: flex;
    justify-content: space-evenly;

}

#bottomnav {
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 10px 29px 0px;
}

#bottomnav>h3 {
    margin-right: 20px;
    font-size: 13px;
    font-weight: lighter;
}

#desc {
    width: 75%;
    margin: auto;
    background-color: #f3f3f3;
    padding: 40px 50px 20px;
    font-family: Arial,Sans-Serif;
    line-height: 1.25;
    letter-spacing: .5px;
    

}
#desc h2{
    font-weight: lighter;
    font-size: 30px;
}
#desc>p{
    width: 50%;
}

#container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 90px;
}
/* #container>div{
    border: 1px solid red;
} */

#container img {
    width:80%;
}

button {
    width: 100%;
    padding: 10px;
    background-color: white;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: .7rem;
}

a {
    text-decoration: none;
    color: black;
}

#social {
    width: 25%;
}
#about{
    margin-left: -100px;
}

#social img {
    width: 20px;
}

#socialLink {
    display: flex;
    justify-content: space-between;
}
#bottomfooter{
    width: 60%;
    display: flex;
    font-size: 10px;
    margin-left: 50px;
}
#bottomfooter>p{
    margin-right: 20px;
}


@media all and (min-width:481px) and (max-width:768px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media all and (min-width:320px) and (max-width:480px) {
    #container {
        grid-template-columns: repeat(1, 1fr);
    }

}


